<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot with PHP</title>
    <link rel="stylesheet" href="stiyle_2.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>    
</head>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row" >
        <div class="col-md-5" style="position: absolute; width: 37rem;" >
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <div class="chatbox">
                        
                            <div class="body" id="chatbody">
                            <p class="alicia">Hola! soy MuniBot, Estoy para responder preguntas relacionadas con la carga de proyectos. Espero poder ayudarte.</p>
                                <div class="scroller"></div>
                            </div>
    
                        <form class="chat" method="POST" autocomplete="off">
                            <div class="panel-footer">
                                <div class="input-group">
                                    <div>
                                        <input type="text" name="chat" id="chat" placeholder="Preguntale algo" style=" font-family: cursive; font-size: 20px;">
                                    </div>
                                        <input type="submit" value="Enviar" id="btn" class="btn btn-warning btn-sm">
                                </div>
                            </div>
                        </form>
    
                    </div>
                </div>
                <!--Otro formulario no funciona con el bot pero se puede usar el diseño-->
                <!--<div class="panel-footer">
                    <div class="input-group">
                        <input type="text" name="chat" id="chat" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" type="submit" value="Enviar" id="btn">
                                Send</button>
                        </span>
                    </div>
                </div>-->
            </div>
            </div>
        </div>
    </div>
</div>
<script src="bot.js"></script>
    
<SCRIPT LANGUAGE="JavaScript">
function mi_alerta () {
alert ("Tutoriales"+
   "\n"+
   "\nCaleb & Mr. Luna");
}
</SCRIPT>

