
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<link rel="stylesheet" href="css/styles_creacion.css">
</head>
<body>
    <%- include('../partials/header') %>
    </header>
    <main class="main-container">
        <div class="crear-producto-container">
            <div class="titulo-crear-producto">
                <h2>Editar Producto</h2>
            </div>
            <div class="producto-container">
                <form action="/">
                    <div class="nombre"><label for="nombre_producto">Nombre</label><br>
                        <input type="text" name="nombre_producto" id="nombre_producto">
                    </div>
                    <div class="imagenes-producto"><label for="imagenes-producto">Imagenes</label><br>
                        <input type="file" name="imagenes-producto" id="imagenes-producto">
                    </div>
                    <div class="precio"><label for="precio_producto">Precio</label><br>
                        <input type="number" name="precio_producto" id="precio_producto">
                    </div>
                    <div class="categoria">
                        <label for="categoria">Categoria </label><br>
                        <select class="select-categoria" name="categoria" id="categoria">
                            <option value="categoria">CAMPERAS</option>
                            <option value="categoria">REMERAS</option>
                            <option value="categoria">SWEATERS</option>
                            <option value="categoria">PANTALONES</option>
                            <option value="categoria">JEANS</option>
                            <option value="categoria">BUZOS</option>
                        </select>
                    </div>
                    <div class="title-color"><label for="colores">Colores Disponibles</label></div>
                    <div class="color-container">

                        <span><input type="checkbox" name="colores" id="colores"> Negro </span>
                        <span><input type="checkbox" name="colores" id="colores"> Rojo </span>
                        <span><input type="checkbox" name="colores" id="colores"> Blanco </span>


                        <span><input type="checkbox" name="colores" id="colores"> Azul </span>
                        <span><input type="checkbox" name="colores" id="colores"> Gris </span>
                        <span><input type="checkbox" name="colores" id="colores"> Verde </span>


                        <span><input type="checkbox" name="colores" id="colores"> Amarillo </span>
                        <span><input type="checkbox" name="colores" id="colores"> Rosa </span>
                        <span><input type="checkbox" name="colores" id="colores"> Marron </span>

                    </div><br>
                    <div class="title-talles"><label for="talles">Talle</label></div><br>
                    <div class="talles-container">

                        <span><input type="checkbox" name="talles" id="talles"> XS </span>
                        <span class="talle"><input type="checkbox" name="talles" id="talles"> S </span>
                        <span><input type="checkbox" name="talles" id="talles"> M </span>


                        <span><input type="checkbox" name="talles" id="talles"> L </span>
                        <span><input type="checkbox" name="talles" id="talles"> XL </span>
                        <span><input type="checkbox" name="talles" id="talles"> XXL </span>

                    </div>
                    <div class="descripcion-producto">
                        <div class="title-description">
                            <label for="descripcion-producto">Descripcion del Producto</label>
                        </div>
                        <div>
                            <textarea name="descripcion-producto" id="descripcion-producto" cols="30" rows="10"
                                placeholder="¡Escribe aqui la descripcion!"></textarea>
                        </div>
                    </div>
                    <div class="button-editar-producto">
                        <input type="submit" value="EDITAR">
                        <input type="submit" value="ELIMINAR">
                        <input type="submit" value="CANCELAR">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- <main class="main-container">
        <div class="editar-producto-container">
            <div class="titulo-editar-producto">

            <div class="producto-container">
                <form action="/">
                    <div > <h2>Edita los productos</h2>
                        <div class="estilos-input"><label for="nombre_producto">Nombre del Producto:</label>
                            <input type="text" name="nombre_producto" id="nombre_producto">
                        </div>
                    
                        <div class="estilos-input"><label for="imagenes-producto">Imagenes del Producto:</label>
                            <input type="file" name="imagenes-producto" >
                        </div>
                        <div class="estilos-input">
                            <label for="precio_producto">Precio :</label>
                            <input type="number" name="precio_producto" id="precio_producto">
                        </div>
                    
                        <div class="categoria estilos-input">
                            <label for="categoria">Categoria: </label>
                            <input type="text">
                        </div>
                        <div class="descripcion-producto">
                            <label for="descripcion-producto">Descripcion del Producto:</label>
                        </div>
                        <div>
                            <textarea name="descripcion-producto" id="descripcion-producto" cols="30" rows="10" placeholder="¡Escribe aqui la descripcion!"></textarea>
                        </div>
                        
                    </div>
                    <div class="button-editar-producto">
                        <input type="submit" value="Editar Producto">
                        <input type="submit" value="Cancelar">
                    </div>     
                </form>
            </div>
            </div>
        </div>
    </main> -->
    <script src="JS/script.js"></script>
    <script src="JS/shopping-cart.js"></script>
    <%- include('../partials/footer') %> 
</body>
</html>