<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 

    <!-- slide -->
    <header id="hearderSlide">
    <div class="MS-content">
        <a href="#" class="item">
            <img src="images/carrusel-1.webp" />
        </a>
        <a href="#" class="item">
            <img src="images/carrusel-2.webp" />
        </a>
        <a href="#" class="item">
            <img src="images/carrusel-3.webp" />
        </a>
    </div>
    <div class="MS-controls">
        <button class="MS-right">
            <i class="fas fa-chevron-right fa-3x"></i>
        </button>
        <button class="MS-left">
            <i class="fas fa-chevron-left fa-3x"></i>
        </button>
    </div>
    </header>
    <!-- // slide -->

    <!-- img publicidad -->
    <section>
    <img class="banner_publicidad" src="/images/banner-ofertas.jpg">
    </section>

    <!-- card products -->
    <h3>Ultimos productos navegados</h3>

    <section class="main-section">
    <div class="product-container">
        <div class="products">
            <div class="product">
                   <!--esto esta relacionado con js-->
                  <div class="product-under">
                      <figure class="product-image">
                          <img
                              src="images/category-indu-logo.jpg"
                          />
                        <div class="product-over">
                            <button
                                class="btn btn-small addToCart"
                                data-product-id="3">
                                <i class="fas fa-cart-plus"></i>Add
                                to cart
                            </button>
                            <a href="/productDetail" class="btn btn-small">More Info</a>
                        </div>
                      </figure>
                      <div class="product-summary">
                          <h4 class="productName">Product 1</h4>
                          <p style="color: #000;">
                              luctus quis et est. Integer pretium
                              purus
                          </p>
                          <h6 class="price">
                              $<span class="priceValue">999</span>
                          </h6>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <div class="product-under">
                      <figure class="product-image">
                          <img
                              src="images/category-indu-logo.jpg"/>
                            <div class="product-over">
                                <button
                                    class="btn btn-small addToCart"
                                    data-product-id="3">
                                    <i class="fas fa-cart-plus"></i>Add
                                    to cart
                                </button>
                                <a href="/productDetail" class="btn btn-small">More Info</a>
                            </div>
                      </figure>
                      <div class="product-summary">
                          <h4 class="productName">Product 2</h4>
                          <p style="color: #000;">
                              luctus quis et est. Integer pretium
                              purus
                          </p>
                          <h6 class="price">
                              $<span class="priceValue">599</span>
                          </h6>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <div class="product-under">
                      <figure class="product-image">
                          <img
                              src="images/category-indu-logo.jpg"
                          />
                          <div class="product-over">
                              <button
                                  class="btn btn-small addToCart"
                                  data-product-id="3">
                                  <i class="fas fa-cart-plus"></i>Add
                                  to cart
                              </button>
                              <a href="/productDetail" class="btn btn-small">More Info</a>
                          </div>
                      </figure>
                      <div class="product-summary">
                          <h4 class="productName">Product 3</h4>
                          <p style="color: #000;">
                              luctus quis et est. Integer pretium
                              purus
                          </p>
                          <h6 class="price">
                              $<span class="priceValue">650</span>
                          </h6>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <div class="product-under">
                      <figure class="product-image">
                          <img
                              src="images/category-indu-logo.jpg"
                          />
                        <div class="product-over">
                            <button
                                class="btn btn-small addToCart"
                                data-product-id="3">
                                <i class="fas fa-cart-plus"></i>Add
                                to cart
                            </button>
                            <a href="/productDetail" class="btn btn-small">More Info</a>
                        </div>
                      </figure>
                      <div class="product-summary">
                          <h4 class="productName">Product 4</h4>
                          <p style="color: #000;">
                              luctus quis et est. Integer pretium
                              purus
                          </p>
                          <h6 class="price">
                              $<span class="priceValue">899</span>
                          </h6>
                      </div>
                  </div>
            </div>
        </div>
    </div>
    </section>

    <!-- Subscribe Button -->
    <div class="container-sub">
            <input type="radio" id="hide">
        <div class="box">
            <label for="hide"><i class="fas fa-times"></i></label>
            <div class="right">
                <div class="text-1">VS Indumentaria</div>
                <div class="text-2">Descuentos del 20% en tu primera compra</div>
                <a href="" target="_blank">Subscribe</a>
            </div>
        </div>
    </div>


        <script src="JS/script.js"></script>
        <script src="JS/shopping-cart.js"></script>
        <%- include('../partials/footer') %> 
    
</body>
</html>
