<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 

  <!-- slide -->
  <div class="slide">
    <div class="slide-inner">
      <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
      <div class="slide-item">
        <img src="/images/carrusel-1.webp">
      </div>
      <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
        <img src="/images/carrusel-2.webp">
      </div>
      <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
        <img src="/images/carrusel-3.webp">
      </div>
      <label for="slide-3" class="slide-control prev control-1">‹</label>
      <label for="slide-2" class="slide-control next control-1">›</label>
      <label for="slide-1" class="slide-control prev control-2">‹</label>
      <label for="slide-3" class="slide-control next control-2">›</label>
      <label for="slide-2" class="slide-control prev control-3">‹</label>
      <label for="slide-1" class="slide-control next control-3">›</label>
      <ol class="slide-indicador">
        <li>
          <label for="slide-1" class="slide-circulo">•</label>
        </li>
        <li>
          <label for="slide-2" class="slide-circulo">•</label>
        </li>
        <li>
          <label for="slide-3" class="slide-circulo">•</label>
        </li>
      </ol>
    </div>
  </div>
  <!-- // slide -->

  <section class="banner">
    <img src="/images/banner-ofertas.jpg" alt="Banner de ofertas">
  </section>
</header>
    
      <!-- card products -->
    <h3>Ultimos productos navegados</h3>

        <div class="CONT_GRID">
            
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
        </div>
        <section class="banner">
            <img src="/images/PDPcuotasnaranja.gif" alt="Funny image"> 
        </section>

    <h3>Ultima categoría navegada</h3>

        <div class="CONT_GRID">
            
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
        </div>
        <!-- // card products -->
        
        <!-- Subscribe Button -->
        <div class="container-sub">
            <input type="radio" id="hide">
            <div class="box">
              <label for="hide"><i class="fas fa-times"></i></label>
              <div class="right">
                <div class="text-1">VS Indumentaria</div>
                <div class="text-2">Descuentos del 20% en tu primera compra</div>
                <a href="" target="_blank">Subscribe</a>
              </div>
            </div>
          </div>
<%- include('../partials/footer') %> 
    
</body>
</html>
