<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS Indumentaria</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    

   
</head>
<body>
    <header>
        <!-- contact content -->
        <div class="header-content-top">
          <div class="content">
            <span><i class="fas fa-phone-square-alt"></i> (+54)911-42523-2424</span>
            <span><i class="fas fa-envelope-square"></i>vsIndumentaria@gmail.com.br</span>
          </div>
        </div>
        <!-- / contact content -->
        <div class="container">
          <!-- logo -->
          <strong class="logo"><i>VS Indumentaria</i></strong>
          <!-- open nav mobile -->
          <!--search -->
          <label class="open-search" for="open-search">
            <i class="fas fa-search"></i>
                  <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
          <div class="search">
            <button class="button-search"><i class="fas fa-search"></i></button>
            <input type="text" placeholder="Encontrá lo que buscás" class="input-search"/>
          </div>
          </label>
          <!-- // search -->
          <nav class="nav-content">
            <!-- nav -->
            <ul class="nav-content-list">
              <li class="nav-content-item account-login">
                <label class="open-menu-login-account" for="open-menu-login-account">
      
                  <input class="input-menu" id="open-menu-login-account" type="checkbox" name="menu" />
      
                  <i class="fas fa-user-circle"></i> <span class="item-arrow"></span>
      
                  <!-- submenu -->
                  <ul class="login-list">
                    <li class="login-list-item"><a href="....">My account</a></li>
                    <li class="login-list-item"><a href="....">Create account</a></li>
                    <li class="login-list-item"><a href="....">logout</a></li>
                    </label>
                  </ul>
              </li>
              <li class="nav-content-item"><a class="nav-content-link" href="...."><i class="fas fa-shopping-cart"></i></a></li>
              <!-- call to action -->
            </ul>
          </nav>
        </div>
        <!-- nav navigation commerce -->
        <div class="nav-container">
          <nav class="all-category-nav">
            <label class="open-menu-all" for="open-menu-all">
              <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
              <span class="all-navigator"><i class="fas fa-bars"></i> <span>Category</span> <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
              </span>
      
              <ul class="all-category-list">
                <li class="all-category-list-item"><a href="..." class="all-category-list-link">Calzado<i class="fas fa-angle-right"></i></a>
                  <div class="category-second-list">
                    <ul class="category-second-list-ul">
                      <li class="category-second-item"><a href="....">Botines</a></li>
                      <li class="category-second-item"><a href="....">Zapatillas</a></li>
                      <li class="category-second-item"><a href="....">Ojotas</a></li>
                      <li class="category-second-item"><a href="....">Ver todos</a></li>
                    </ul>
      
                    <div class="img-product-menu"><img src="/images/category-zap-logo.jpg"></div>
                    </div>
                </li>
                <li class="all-category-list-item"><a href="..." class="all-category-list-link">Indumentaria<i class="fas fa-angle-right"></i></a>
                    <div class="category-second-list">
                      <ul class="category-second-list-ul">
                        <li class="category-second-item"><a href="....">Remeras</a></li>
                        <li class="category-second-item"><a href="....">Camisetas de Futbol</a></li>
                        <li class="category-second-item"><a href="....">Buzos</a></li>
                        <li class="category-second-item"><a href="....">Ver todos</a></li>
                      </ul>
        
                      <div class="img-product-menu"><img src="/images/category-indu-logo.jpg"></div>
                      </div>
                </li>
                <li class="all-category-list-item"><a href="..." class="all-category-list-link">Accesorios<i class="fas fa-angle-right"></i></a>
                    <div class="category-second-list">
                      <ul class="category-second-list-ul">
                        <li class="category-second-item"><a href="....">Mochilas</a></li>
                        <li class="category-second-item"><a href="....">Bolsos</a></li>
                        <li class="category-second-item"><a href="....">Gorras</a></li>
                        <li class="category-second-item"><a href="....">Ver todos</a></li>
                      </ul>
        
                      <div class="img-product-menu"><img src="/images/category-acc-logo.png"></div>
                      </div>
                </li>
              </ul>
            </label>
      
          </nav>
          <nav class="featured-category">
            <ul class="nav-row">
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Mujer</a></li>
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Hombre</a></li>
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Lanzamientos</a></li>
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Ofertas</a></li>
            </ul>
          </nav>
        </div>

        <section class="banner">
            <img src="/images/PDPcuotasnaranja.gif" alt="Funny image"> 
        </section>
    </header>
     <!-- card productDetail -->
    <section class="cont-productDetail">
     <div class="container-proDet">
        <div class="imgBx">
            <img src="/images/category-indu-logo.jpg">
        </div>
        <div class="details">
            <div class="content">
                <h2>Lorem ipsum dolor<br>
                    <span>Lorem ipsum dolor</span>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Error quam consequuntur suscipit labore, fugit exercitationem 
                    inventore cum voluptatibus obcaecati consequatur numquam 
                    perspiciatis totam magni. 
                    Nostrum nihil exercitationem expedita ratione vitae?
                </p>
                <p class="product-colors">Available Colors:
                    <span class="black active" data-color-primary="#000" data-color-sec="#212121" data-pic="https://github.com/anuzbvbmaniac/Responsive-Product-Card---CSS-ONLY/blob/master/assets/img/jordan_proto.png?raw=true"></span>
                    <span class="red" data-color-primary="#7E021C" data-color-sec="#bd072d" data-pic="https://github.com/anuzbvbmaniac/Responsive-Product-Card---CSS-ONLY/blob/master/assets/img/jordan_proto_red_black.png?raw=true"></span>
                    <span class="orange" data-color-primary="#CE5B39" data-color-sec="#F18557" data-pic="https://github.com/anuzbvbmaniac/Responsive-Product-Card---CSS-ONLY/blob/master/assets/img/jordan_proto_orange_black.png?raw=true"></span>
                </p>
                <h3>$ 12,800</h3>
                <button>Probador Virtual</button>
                <button>Buy Now</button>
                
            </div>
        </div>
    </div>
    </section>

    <!-- card products -->
    <h3>Ultimos productos navegados</h3>

        <div class="CONT_GRID">
            
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
        </div>

     <!-- footer -->
    <div class="footer">
        <div class="contain">
            <div class="col">
            <h1>Sportline</h1>
            <ul>
                <li>Quiénes Somos</li>
                <li>Sucursales</li>
                <li>Terminos y Condiciones</li>
                <li>Políticas de Privacidad</li>
            </ul>
            </div>
            <div class="col">
            <h1>¿NECESITÁS AYUDA?</h1>
            <ul>
                <li>Preguntas Frecuentes</li>
                <li>Venta Corporativo</li>
                <li>Formas de envío</li>
                <li>Cambios</li>
            </ul>
            </div>
            <div class="col">
            <h1>Atención al Cliente</h1>
            <ul>
                <li>Contacto</li>
                <li><span><i class="fas fa-phone-square-alt"></i> (+54)911-42523-2424</span></li>
                <li>Lunes a Viernes de 9 a 20hs.</li>
                <li>Sábado de 9 a 14hs.</li>
            </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--Logo de whatsapp-->
        <div style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
            <a href="https://api.whatsapp.com/send?phone=">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50"></a>
        </div>
</body>
</html>
    