<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/header') %>
            </header>
        <!--Portada-->

    <div class="container-productCart-post">

        <input type="radio" id="TODOS" name="categories" value="TODOS" checked>
        <input type="radio" id="CALZADO" name="categories" value="CALZADO">
        <input type="radio" id="INDUMENTARIA" name="categories" value="INDUMENTARIA">
        

        <div class="container-productCart-category">
            <label for="TODOS">TODOS</label>
            <label for="CALZADO">CALZADO</label>
            <label for="INDUMENTARIA">INDUMENTARIA</label>
        </div>

        <div class="posts">

<!--Los productos debemos conectar con la base de datos
 por el momento se colocaron en forma estatica
data-category esta conectado con CSS revisar antes de modificar
el css esta en inicio.css linea 161 a 178-->
            <div class="post" data-category="CALZADO">

                <div class="ctn-img">
                    <img src="https://showsport.vtexassets.com/arquivos/ids/783249-1200-auto?v=637915905687500000&width=1200&height=auto&aspect=true" alt="">
                </div>
                <h2>Botin Adidas</h2>
                <span>Horma clásica. Sistema de atado de cordones. Exterior sintético texturizado. </span>
                <ul class="ctn-tag">
                <a href=""><button>Agregar al carrito</button></a>

            </div>

            <div class="post" data-category="CALZADO">

                <div class="ctn-img"><img src="https://showsport.vtexassets.com/arquivos/ids/653975-1200-auto?v=637030277133970000&width=1200&height=auto&aspect=true" alt=""></div>
                <h2>Botines Futbol Adidas Nemeziz 19.2</h2>
                <span>Nemeziz no es solo un botín. Es un compromiso con la victoria y no con la aprobación del resto.  </span>
                <a href=""><button>Agregar al carrito</button></a>

            </div>


            <div class="post" data-category="INDUMENTARIA">

                <div class="ctn-img"><img src="https://showsport.vtexassets.com/arquivos/ids/739952-1200-auto?v=637463148512800000&width=1200&height=auto&aspect=true" alt=""></div>
                <h2>Camiseta Futbol Adidas Seleccion Argentina</h2>
                <span>Corte clásico que es más ancho en el torso, con caída recta Cuello redondo acanalado.</span>
                <a href=""><button>Agregar al carrito</button></a>

            </div>

            <div class="post" data-category="INDUMENTARIA">

                <div class="ctn-img"><img src="https://showsport.vtexassets.com/arquivos/ids/660229-1200-auto?v=637058057698430000&width=1200&height=auto&aspect=true" alt=""></div>
                <h2>Camiseta Futbol Adidas Real Madrid</h2>
                <span>Esta camiseta del uniforme titular demuestra que el Real Madrid es uno de los equipos de fútbol más prestigiosos del continente.</span>
                <a href=""><button>Agregar al carrito</button></a>

            </div>

        </div>
        <%- include('chatOnline') %>
    </body>

</html>