<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/header') %>
            </header>

    <!--Portada-->

    <div class="container-productCart-post">

        <input type="radio" id="TODOS" name="categories" value="TODOS" checked>
        <input type="radio" id="CALZADO" name="categories" value="CALZADO">
        <input type="radio" id="INDUMENTARIA" name="categories" value="INDUMENTARIA">
        

        <div class="container-productCart-category">
            <label for="TODOS">TODOS</label>
            <label for="CALZADO">CALZADO</label>
            <label for="INDUMENTARIA">INDUMENTARIA</label>
        </div>

        <div class="posts">

            <div class="post" data-category="CALZADO">

                <div class="ctn-img">
                    <img src="img/articulos/house_1.jpg" alt="">
                </div>
                <h2>Casa de 3 dormitorios</h2>
                <span>Cuenta con un amplio living, un comedor, una cocina, dos baños, cochera y tres dormitorios </span>
                <ul class="ctn-tag">
                    <li>Dimensiones 120m2</li>
                    <li>Zona Barrio Camba Cua</li>
                </ul>
                <a href="articulo.html"><button>Leer más</button></a>

            </div>

            <div class="post" data-category="CALZADO">

                <div class="ctn-img"><img src="img/articulos/house_2.jpg" alt=""></div>
                <h2>Casa de 3 dormitorios</h2>
                <span>Cuenta con un amplio living, un comedor, una cocina, dos baños, cochera y tres dormitorios </span>
                <ul class="ctn-tag">
                    <li>Dimensiones 120m2</li>
                    <li>Zona Barrio Camba Cua</li>
                </ul>
                <a href="articulo.html"><button>Leer más</button></a>

            </div>


            <div class="post" data-category="INDUMENTARIA">

                <div class="ctn-img"><img src="" alt=""></div>
                <h2>Departamento de 2 dormitorios</h2>
                <span>Cuenta con living y comder, dos habitaciones, cocina, balcon, lavadero, un baño y cochera</span>
                <ul class="ctn-tag">
                    <li>Dimensiones 80m2</li>
                    <li>Zona Costanera</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="INDUMENTARIA">

                <div class="ctn-img"><img src="" alt=""></div>
                <h2>Departamento de 2 dormitorios</h2>
                <span>Cuenta con living y comder, dos habitaciones, cocina, balcon, lavadero, un baño y cochera</span>
                <ul class="ctn-tag">
                    <li>Dimensiones 80m2</li>
                    <li>Zona Costanera</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>


        </div>

    </div>

    <script src="/JS/products.js"></script>
    <%- include('../partials/footer') %>

</body>

</html>