<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS Indumentaria</title>
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    

   
</head>
<body>
    <header>
        <!-- contact content -->
        <div class="header-content-top">
          <div class="content">
            <span><i class="fas fa-phone-square-alt"></i> (+54)911-42523-2424</span>
            <span><i class="fas fa-envelope-square"></i>vsIndumentaria@gmail.com.br</span>
          </div>
        </div>
        <!-- / contact content -->
        <div class="container">
          <!-- logo -->
          <strong class="logo"><i>VS Indumentaria</i></strong>
         
          <!--search -->
          <label class="open-search" for="open-search">
            <i class="fas fa-search"></i>
                  <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
          <div class="search">
            <button class="button-search"><i class="fas fa-search"></i></button>
            <input type="text" placeholder="Encontrá lo que buscás" class="input-search"/>
          </div>
          </label>
          <!-- // search -->
          <nav class="nav-content">
            <!-- nav -->
            <ul class="nav-content-list">
              <li class="nav-content-item account-login">
                <label class="open-menu-login-account" for="open-menu-login-account">
      
                  <input class="input-menu" id="open-menu-login-account" type="checkbox" name="menu" />
      
                  <i class="fas fa-user-circle"></i> <span class="item-arrow"></span>
      
                  <!-- submenu -->
                  <ul class="login-list">
                    <li class="login-list-item"><a href="/login">My account</a></li>
                    <li class="login-list-item"><a href="/register">Create account</a></li>
                    <li class="login-list-item"><a href="/home">logout</a></li>
                    </label>
                  </ul>
              </li>
              <li class="submenu">
                <img src="/img/cart.png" alt="">
                <div id="carrito">
                    <p class="vacio">carrito vacio</p>
                    <table id="lista-carrito" class="u-full-width">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Platillos</th>
                                <th>Precio</th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                    <a href="#" id="vaciar-carrito" 
                    class="button u-full-width">vaciar carrito</a>
                </div>
            </li>
              <!-- call to action -->
            </ul>
          </nav>
        </div>
        <!-- nav -->
        <div class="nav-container">
          <nav class="all-category-nav">
            <label class="open-menu-all" for="open-menu-all">
              <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
              <span class="all-navigator"><i class="fas fa-bars"></i> <span>Category</span> <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
              </span>
      
              <ul class="all-category-list">
                <li class="all-category-list-item"><a href="..." class="all-category-list-link">Calzado<i class="fas fa-angle-right"></i></a>
                  <div class="category-second-list">
                    <ul class="category-second-list-ul">
                      <li class="category-second-item"><a href="....">Botines</a></li>
                      <li class="category-second-item"><a href="....">Zapatillas</a></li>
                      <li class="category-second-item"><a href="....">Ojotas</a></li>
                      <li class="category-second-item"><a href="....">Ver todos</a></li>
                    </ul>
      
                    <div class="img-product-menu"><img src="/images/category-zap-logo.jpg"></div>
                    </div>
                </li>
                <li class="all-category-list-item"><a href="..." class="all-category-list-link">Indumentaria<i class="fas fa-angle-right"></i></a>
                    <div class="category-second-list">
                      <ul class="category-second-list-ul">
                        <li class="category-second-item"><a href="....">Remeras</a></li>
                        <li class="category-second-item"><a href="....">Camisetas de Futbol</a></li>
                        <li class="category-second-item"><a href="....">Buzos</a></li>
                        <li class="category-second-item"><a href="....">Ver todos</a></li>
                      </ul>
        
                      <div class="img-product-menu"><img src="/images/category-indu-logo.jpg"></div>
                      </div>
                </li>
                <li class="all-category-list-item"><a href="..." class="all-category-list-link">Accesorios<i class="fas fa-angle-right"></i></a>
                    <div class="category-second-list">
                      <ul class="category-second-list-ul">
                        <li class="category-second-item"><a href="....">Mochilas</a></li>
                        <li class="category-second-item"><a href="....">Bolsos</a></li>
                        <li class="category-second-item"><a href="....">Gorras</a></li>
                        <li class="category-second-item"><a href="....">Ver todos</a></li>
                      </ul>
        
                      <div class="img-product-menu"><img src="/images/category-acc-logo.png"></div>
                      </div>
                </li>
              </ul>
            </label>
      
          </nav>
          <nav class="featured-category">
            <ul class="nav-row">
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Mujer</a></li>
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Hombre</a></li>
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Lanzamientos</a></li>
              <li class="nav-row-list"><a href="..." class="nav-row-list-link">Ofertas</a></li>
            </ul>
          </nav>
        </div>
        <!-- slide -->
        <div class="slide">
			<div class="slide-inner">
				<input class="slide-open" type="radio" id="slide-1" 
			 	     name="slide" aria-hidden="true" hidden="" checked="checked">
				<div class="slide-item">
					<img src="/images/carrusel-1.webp">
				</div>
				<input class="slide-open" type="radio" id="slide-2" 
			 	     name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="/images/carrusel-2.webp">
				</div>
				<input class="slide-open" type="radio" id="slide-3" 
			 	     name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="/images/carrusel-3.webp">
				</div>
				<label for="slide-3" class="slide-control prev control-1">‹</label>
				<label for="slide-2" class="slide-control next control-1">›</label>
				<label for="slide-1" class="slide-control prev control-2">‹</label>
				<label for="slide-3" class="slide-control next control-2">›</label>
				<label for="slide-2" class="slide-control prev control-3">‹</label>
				<label for="slide-1" class="slide-control next control-3">›</label>
				<ol class="slide-indicador">
					<li>
						<label for="slide-1" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-2" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-3" class="slide-circulo">•</label>
					</li>
				</ol>
			</div>
		</div>
        <!-- // slide -->
     
        <section class="banner">
            <img src="/images/banner-ofertas.jpg" alt="Banner de ofertas">
        </section>
      </header>
    
      <!-- card products -->
    <h3>Ultimos productos navegados</h3>

        <div id="lista-platillos" class="CONT_GRID">
            
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button class=" agregar-carrito"data-id="1">Agregar a carrito</button></p>
                <p><button class=" agregar-carrito"onClick="parent.location='#'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
        </div>
        <section class="banner">
            <img src="/images/PDPcuotasnaranja.gif" alt="Funny image"> 
        </section>

    <h3>Ultima categoría navegada</h3>

        <div class="CONT_GRID">
            
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
            <div class="card">
                <img src="/images/category-indu-logo.jpg" alt="Denim Jeans" style="width:100%">
                <h3>Tailored Jeans</h3>
                <p class="price">$19.99</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis</p>
                <p><button onClick="parent.location='/productCart'">Comprar</button></p>
                <p><button onClick="parent.location='/productDetail'">Detalles</button></p>
            </div>
        </div>
        <!-- // card products -->
        
        <!-- Subscribe Button -->
        <div class="container-sub">
            <input type="radio" id="hide">
            <div class="box">
              <label for="hide"><i class="fas fa-times"></i></label>
              <div class="right">
                <div class="text-1">VS Indumentaria</div>
                <div class="text-2">Descuentos del 20% en tu primera compra</div>
                <a href="" target="_blank">Subscribe</a>
              </div>
            </div>
          </div>

    <!-- footer -->
    <div class="footer">
        <div class="contain">
        <div class="col">
          <h1>Sportline</h1>
          <ul>
            <li>Quiénes Somos</li>
            <li>Sucursales</li>
            <li>Terminos y Condiciones</li>
            <li>Políticas de Privacidad</li>
          </ul>
        </div>
        <div class="col">
          <h1>¿NECESITÁS AYUDA?</h1>
          <ul>
            <li>Preguntas Frecuentes</li>
            <li>Venta Corporativo</li>
            <li>Formas de envío</li>
            <li>Cambios</li>
          </ul>
        </div>
        <div class="col">
          <h1>Atención al Cliente</h1>
          <ul>
            <li>Contacto</li>
            <li><span><i class="fas fa-phone-square-alt"></i> (+54)911-42523-2424</span></li>
            <li>Lunes a Viernes de 9 a 20hs.</li>
            <li>Sábado de 9 a 14hs.</li>
          </ul>
        </div>
      <div class="clearfix"></div>
      </div>
      </div>
      <!--Logo de whatsapp-->
    <div style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
        <a href="https://api.whatsapp.com/send?phone=">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50"></a>
    </div>

</body>
</html>
