<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconectar" href="https://fonts.googleapis.com">
    <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
        <enlace href="https: //fonts.googleapis.com/css2? familia = Arenas movedizas: peso @ 400; 700 & display=swap"
            rel="stylesheet">

            <link rel="stylesheet" href="css/normalize.css">
            <link rel="stylesheet" href="css/estiloslogin.css">


</head>

<body>
    <% include partials/header %>

    <div class="contenedor-formulario contenedor">
        <form class="formulario">
            <div class="texto-formulario">
                <h2>bienvenido de nuevo</h2>
                <p>inicia sesion con tu cuenta</p>
            </div>
            <div class="input">
                <label for="usuario">Usuario</label>
                <input placeholder="ingresa tu nombre" type="text" id="usuario">
            </div>
            <div class="input">
                <label for="contraseña">Contraseña</label>
                <input placeholder="ingresa tu contraseña" type="password" id="contraseña">
            </div>
            <div class="contraseña-olvidada">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="input">
                <input type="submit" value="Entrar">
                <a href="#"></a>
            </div>
            <div class="recordar-contraseña">
                <a href="#">Recordarme</a>
            </div>

    </div>
    </form>
    </div>

</body>

</html>