<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS Indumentaria</title>
    <link rel="stylesheet" href="/css/style-carrito.css">
    
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <h1><img src="/img/logo.png" alt="">Vs Indumentaria</h1>
                </div>
            </div>
            <div class="two columns u-pull-right">
                <ul>
                    <li class="submenu">
                        <img src="/img/cart.png" alt="">
                        <div id="carrito">
                            <p class="vacio">carrito vacio</p>
                            <table id="lista-carrito" class="u-full-width">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Platillos</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" 
                            class="button u-full-width">vaciar carrito</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </header>
    
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="contenido-hero">
                        <h2>Prueba una hamburguesa</h2>
                        <p>todas las hamburguesas a $15</p>
                        <form>
                            <input class="u-full-width" type="text" placeholder="¿Que estas buscando?" id="buscador">
                            <input type="submit" class="submite-buscador">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="barra">
        <div class="container">
            <div class="row">
                <div class="four columns icono icono1">
                    <p>100 platillos diferentes<br>
                    explora los nuevos platillos</p>
                </div>
                <div class="four columns icono icono2">
                    <p>Cheff expertos<br>
                    Prueba las nuevas combinaciones</p>
                </div>
                <div class="four columns icono icono3">
                    <p>Bebida ilimitada<br>
                   prueba tu bebida favorita</p>
                </div>
            </div>
        </div>
    </div>

    <div id="lista-platillos" class="container">
        <h1 class="encabezado">Pedidos en línea</h1>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="4">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="5">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="6">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="7">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="8">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="public/img/platillo1.jpg" class="imagen-platillo u-full-width">
                    <div class="info-card">
                        <h4>Hamburguesa sencilla</h4>
                        <p>Bebida ilimitada</p>
                        <img src="public/img/estrellas.png">
                        <p class="precio">$50<span class="u-pull-right">$15</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="9">Agregar Al carrito</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

   
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <nav class="menu">
                        <a class="enlace" href="#">Pedido a domicilio</a>
                        <a class="enlace" href="#">Pedido en linea</a>
                        <a class="enlace" href="#">Pedido por telefono</a>
                        <a class="enlace" href="#">Pedido menu</a>
                    </nav>
                </div>
                <div class="four columns">
                    <nav class="menu">
                        <a class="enlace" href="#">Restaurante</a>
                        <a class="enlace" href="#">Ubicacion</a>
                        <a class="enlace" href="#">Telefono</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/carrito.js"></script>
</body>
</html>