:root{
    --azul:#1958a0;
    --azulOscuro:#0b2545c7;
    --azulGris:#0DA9C4;
    --blanco:#ffff;
    --fuente:"Quicksand", sans-serif;

}
.contenedor-login{
    padding: 30px;
    margin: 0 auto;
    max-width:  1200px;
    width: 95%;
}
/*ESTYLOS DE RECUPERO DE PSW*/
.pass-cont {
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    background: black;
    text-align: center;
    width: 90%;
    height: 200px;
    padding: 10px;
}

.form-pass label {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.form-pass input {
    width: 80%;
    padding: 6px;
    overflow: hidden;
    margin-left: 15px;
}
.button-pass {
    width: 60%;
    border: 1px solid grey;
    border-radius: 20px;
    height: 40px;
    background-color: grey;
    color: white;
    margin: 20px 0 auto;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all .5s ease-in-out;
}
.button-pass:hover {
    background: white;
    color: black;
}

@media(min-width:768px){
    .contenedor-formulario {
        display:flex;
        justify-content: center;
        margin: 60px auto;
    }
    /*Recupero PASS*/
.passw-recupero {
    margin: 15vw;
}
}

.contenedor-formulario .img-login-messi {
    background-image: url(/images/messi_login.jpg);
    background-position: center center;
    background-size: cover;
    flex: 0 0 calc(45%);
    position: relative;
}
.contenedor-formulario .img-login-messi::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(141,169,196,.5), rgba(19, 64, 116, .5) );
}
.formulario{
    padding: 50px;
    background-color:black;
    margin: 0;
    
}
.texto-formulario h2, p, .input label, .contraseña-olvidada a, .recordar-contraseña a{
    color: white;
    margin-left: 10px;
}
.texto-formulario h2{
    font-size:  50px; 
    text-align: center;
    font-weight: bold;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}
.input label{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.contraseña-olvidada{
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    border-top: 1px grey;
}
.input{
    margin: 10px 0;
}
.input .input-0{
    width: 100%;
    padding: 15px;
    border-radius:5px;
    outline: none;
}
.input input[type="submit"]{
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    background: grey;
    color: white;
    transition: background-color 0.5s ease-in-out;  
}
.input input[type="submit"]:hover{ 
    cursor: pointer;
    background-color: white;
    color: var(--negro);
}
.recordar-contraseña{
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
}
.line-div {
    border-top: 1px solid white;
    margin: 20px auto;
}
