
.main-container {
    width: 100%;
    font-size: 14px;
}

.register-container-2 {
    padding: 50px 5px 2px;
}

.datos-cuenta-container {
    margin: 0px 1px 20px;
}

.datos-cuenta-container {
    margin: 10px 0px 15px;
    font-size: 16px;
}

.register-container-2 {
    padding-bottom: 10px;
    text-align: center;
}

.datos-personales-container {
    padding: 10px 8px 0;
    width: auto;
}

.register-2 {
    border-bottom: 4px solid black;
    padding: 20px;
}
.register-container-2{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: radial-gradient(#ffffff, #fffbfb21);
    width: 100%;
}

.terminos-container .estilos-form-reg {
    display: block;
}

.terminos-container .estilos-form-reg {
    padding-top: 20px;
}

div.cuenta-container .estilos-input-reg-2 {
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 6px 12px;
}

div.datos-personales-container .input-reg-2-2 .select-reg {
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 6px 12px;
}

.crear-cuenta-2 .button-register{
    border-radius: 16px;
    height: 43px;
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px;
}

.crear-cuenta-2 {
    max-width: 380px;
    margin:auto;
    padding: 5px 10px;
}
/*modificar las medida*/
@media (min-width:768px) {
    .datos-cuenta-container .datos-personales-container {
        padding-right: 50px;
    } 

    .datos-cuenta-container .cuenta-container {
        padding-left: 50px;
    }

    .terminos-container {
        max-width: 380px;
        margin: auto;
    }   
}

@media (min-width: 820px) {

    .datos-cuenta-container {
        display: flex;
        padding: 0px 90px;
    }

    .datos-personales-container, .cuenta-container {
        width: 50%;
    }

    div.datos-cuenta-container form div {
        padding: 10px 5px;
    }  
}
@media (min-width:992px) {
    .register-container-2 h2 {
        font-size: 30px;
    }
    
}
