<header id="hearderSlide">
    <div class="MS-content">
        <a href="#" class="item">
            <img src="images/slider-home-1.png" />
        </a>
        <a href="#" class="item">
            <img src="images/slider-home-2.png" />
        </a>
        <a href="#" class="item">
            <img src="images/slider-home-3.png" />
        </a>
    </div>
    <div class="MS-controls">
        <button class="MS-right">
            <i class="fas fa-chevron-right fa-3x"></i>
        </button>
        <button class="MS-left">
            <i class="fas fa-chevron-left fa-3x"></i>
        </button>
    </div>