<!-- footer -->
<footer>
  <div class="footer">
    <div class="contain">
      <div class="col">
        <h1>Sportline</h1>
        <ul>
          <li>Quiénes Somos</li>
          <li>Sucursales</li>
          <li>Terminos y Condiciones</li>
          <li>Políticas de Privacidad</li>
        </ul>
      </div>
      <div class="col">
        <h1>¿NECESITÁS AYUDA?</h1>
        <ul>
          <li>Preguntas Frecuentes</li>
          <li>Venta Corporativo</li>
          <li>Formas de envío</li>
          <li>Cambios</li>
        </ul>
      </div>
      <div class="col">
        <h1>Atención al Cliente</h1>
        <ul>
          <li class="footer-list-item"><a href="/users/contacto">Contacto</a></li>
          <li><span><i class="fas fa-phone-square-alt"></i> (+54)911-42523-2424</span></li>
          <li>Lunes a Viernes de 9 a 20hs.</li>
          <li>Sábado de 9 a 14hs.</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!--Logo de whatsapp-->
  <div style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
    <a href="https://api.whatsapp.com/send?phone=">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
        width="50" height="50"></a>
  </div>
</footer>