
<header>
  <!-- contact content -->>
  
  <div class="header-content-top">
    <div class="content">
      <span><i class="fas fa-phone-square-alt"></i> (+54)911-42523-2424</span>
      <span><i class="fas fa-envelope-square"></i>vsIndumentaria@gmail.com.br</span>
    </div>
  </div>
  <!-- / contact content -->
  <div class="container">
    <!-- logo -->
    <strong class="logo"><a class="title_vs" href="/"><i>VS Indumentaria</i></a></strong>

    <!--search -->
    
      <label class="open-search" for="open-search">
        <i class="fas fa-search"></i>
        <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
        <div class="search">
          <form action="/products/search" method="POST">
          <button type="submit" class="button-search"><i class="fas fa-search"></i></button>
          <input type="text" name="productSearch" id="productSearch" placeholder="Encontr치 lo que busc치s" class="input-search" />
          </form>
          </div>
      </label>
    
    <!-- // search -->
    <nav class="nav-content">
      <!-- nav -->
      <ul class="nav-content-list">
        <li class="nav-content-item account-login">
          <label class="open-menu-login-account" for="open-menu-login-account">

            <input class="input-menu" id="open-menu-login-account" type="checkbox" name="menu" />
            <%if(!locals.isLogged){%>

            <i class="fas fa-user-circle"></i> <span class="item-arrow"></span>
            <%}else{%>
            <img src="/images/users/<%= locals.userLogged.image%>" alt="" style="width: 40px;border-radius: 20px;">
            <%}%>
      
           <!-- <ul class="logged">
              <li class="logged-li"><a>
                  <h4>Hi <=locals.userLogged.email %>
                  </h4>
                </a> -->
                <!-- submenu -->
                <ul class="login-list">
                  <% if (locals.isLogged) { %>

                    <li class="login-list-item"><a href="/products/create">Crear producto</a></li>
                    <li class="login-list-item"><a href="http://localhost:3000/">dashboard</a></li>
                    <li class="login-list-item"><a href="/users/logout">Cerrar sesi칩n</a></li>


                   
                    

                    <% } else { %>
                      <li class="login-list-item"><a href="/users/login">Mi cuenta </a></li>
                      <li class="login-list-item"><a href="/users/register">Registrarse</a></li>
                      <% } %>
              <!-- </li>
            </ul> -->
      </ul>
      </label>
      </li>
      <!--Shopping cart-->
      <div class="shopping-cart">
        <div class="navbar-top">
          <!-- <div>
                <button id="menuButton"></button>
            </div> -->
        </div>
        <div class="sum-prices">
          <i class="fas fa-shopping-cart shoppingCartButton"></i>
          <h6 id="sum-prices"></h6>
        </div>
        <!--es lo que va adentro del carrito-->
        <div class="producstOnCart hide">
          <div class="overlay"></div>
          <div class="top">
            <button id="closeButton">
              <i class="fas fa-times-circle"></i>
            </button>
            <h3>Mi carrito</h3>
          </div>
          <ul id="buyItems">

            <h4 class="empty">El carrito est치 vacio</h4>
          </ul>
          <button class="btn checkout hidden"><a class="href-cart" href="/products/">Vaciar carrito</a></button>

        </div>
      </div>
      </ul>
      <!--terminara carrito-->
    </nav>
  </div>
  <!-- nav -->
  <div class="nav-container">
    <nav class="all-category-nav">
      <label class="open-menu-all" for="open-menu-all">
        <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
        <span class="all-navigator"><i class="fas fa-bars"></i> <span>Categorias</span> <i class="fas fa-angle-down"></i>
          <i class="fas fa-angle-up"></i>
        </span>

        <ul class="all-category-list">
          <!--Agrego el link para productos-->
          <li class="all-category-list-item"><a href="/products/" class="all-category-list-link">Todos los productos<i
                class="fas fa-angle-right"></i></a>
          </li>
          <!--fin para productos-->
          <li class="all-category-list-item"><a href="/products/" class="all-category-list-link">Calzado<i
                class="fas fa-angle-right"></i></a>
            <div class="category-second-list">
              <ul class="category-second-list-ul">
                <li class="category-second-item"><a href="....">Botines</a></li>
                <li class="category-second-item"><a href="....">Zapatillas</a></li>
                <li class="category-second-item"><a href="....">Ver todos</a></li>
              </ul>

              <div class="img-product-menu"><img src="/images/category-zap-logo.jpg"></div>
            </div>
          </li>
          <li class="all-category-list-item"><a href="/products/" class="all-category-list-link">Indumentaria<i
                class="fas fa-angle-right"></i></a>
            <div class="category-second-list">
              <ul class="category-second-list-ul">
                <li class="category-second-item"><a href="....">Remeras</a></li>
                <li class="category-second-item"><a href="....">Camisetas de Futbol</a></li>
                <li class="category-second-item"><a href="....">Short</a></li>
                <li class="category-second-item"><a href="....">Calzado</a></li>
              </ul>

              <div class="img-product-menu"><img src="/images/category-indu-logo.jpg"></div>
            </div>
          </li>
        </ul>
      </label>

    </nav>
  </div>
