<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <div class="contenedor-formulario contenedor">
        <form class="formulario">
            <div class="texto-formulario">
                <h2>bienvenido de nuevo</h2>
                <p>inicia sesion con tu cuenta</p>
            </div>
            <div class="input">
                <label for="usuario">Usuario</label>
                <input placeholder="ingresa tu nombre" type="text" id="usuario">
            </div>
            <div class="input">
                <label for="contraseña">Contraseña</label>
                <input placeholder="ingresa tu contraseña" type="password" id="contraseña">
            </div>
            <div class="contraseña-olvidada">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="input">
                <input type="submit" value="Entrar">
                <a href="#"></a>
            </div>
            <div class="recordar-contraseña">
                <a href="#">Recordarme</a>
            </div>

    </div>
    </form>
    </div>
    <%- include('../partials/footer') %> 

</body>