<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main class="main-container">
        <div class="register-container-2">
            <h2>Crear Cuenta</h2>
            <div class="datos-cuenta-container">
                <div class="datos-personales-container">
                    <h2>Datos Personales</h2>
                    <form action="/registro" method="POST">
                        <div><label for="nombre">Nombre</label></div>
                        <div><input type="text" name="nombre" id="nombre"></div>
                        <div><label for="apellido">Apellido</label></div>
                        <div><input type="text" name="apellido" id="apellido"></div>
                        <div><label for="fecha de nacimiento">Fecha de Nacimiento</label></div>
                        <div><input type="date" name="fecha de nacimiento" id="fecha de nacimiento" value="2022-02-11" min="1920-08-02" max="2022-08-12"></div>
                        <div><label for="tipo">Tipo</label></div>
                        <div>
                            <select name="tipo" id="tipo">
                               <option value="tipo">Seleccionar</option>
                                <option value="tipo">DNI</option>
                                <option value="tipo">OTRO</option>
                            </select>
                        </div>
                        <div><label for="n de documento">Numero de Documento</label></div>
                        <div><input type="number" name="n de documento" id="n de documento"></div>
                        <div><label for="genero">Genero</label></div>
                        <div>
                            <select name="genero" id="genero">
                                <option value="genero">Seleccionar</option>
                                <option value="genero">Mujer</option>
                                <option value="genero">Hombre</option>
                                <option value="genero">Binario</option>
                            </select>
                        </div>
                        <div><label for="telefono">Telefono</label></div>
                        <div><input type="number" name="telefono" id="telefono"></div>
                    </form>
                </div>
                <div class="cuenta-container">
                    <h2>Sobre tu Cuenta</h2>
                    <form action="/registro" method="POST" class="cuenta">
                        <div class="estilos-input-reg-2">
                            <div class="input-reg-2-2">
                                <div><label for="email">Email</label></div>
                                <div><input type="email" name="email" id="email"></div>
                                <div><label for="confirm email">Confirmar Email</label></div>
                                <div><input type="email" name="confirm email" id="confirm email"></div>
                                <div><label for="password">Contrase単a (minimo 8  carcteres)</label></div>
                                <div><input type="password" name="password" id="password"></div>
                                <div><label for="confirm password">Confirmar Contrase単a</label></div>
                                <div><input type="password" name="confirm password" id="confirm password"></div>
                                <div><label for="intereses">多Cuales son tus intereses?</label></div>
                            </div>
                            <div class="select-reg">
                                <select name="intereses" id="intereses">
                                    <option value="intereses">Seleccionar</option>
                                    <option value="intereses">Moda</option>
                                    <option value="intereses">Running</option>
                                    <option value="intereses">Futbol</option>
                                    <option value="intereses">Deportes</option>
                                </select>
                            </div>
                            <div><label for="equipo">多Cual e tu equipo de futbol?</label></div>
                            <div>
                                <select name="equipo" id="equipo">
                                    <option value="equipo">Seleccionar</option>
                                    <option value="equipo">Boca Juniors</option>
                                    <option value="equipo">River Plate</option>
                                    <option value="equipo">Independiente</option>
                                    <option value="equipo">Ninguno</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="terminos-container">
                <div class="estilos-form-reg">
                    <form action="/terminos">
                        <div>
                            <input type="checkbox" name="terminos" value="condiciones">
                            <label for="terminos">Acepto las <a href="/">Politicas de Privacidad</a> y <a href="/">Terminos y Condiciones.</a></label>
                        </div>
                        <div>
                            <input type="checkbox" name="newsletter" value="newsletter!">
                            <label for="newsletter">Quiero recibir emails de promociones y noticias.</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="crear-cuenta-2">
                <button class="button-register" type="submit">CREAR CUENTA</button>
            </div>
        </div>
    </main>

    <script src="JS/script.js"></script>
    <script src="JS/shopping-cart.js"></script>
    <%- include('../partials/footer') %> 

</body>