<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
    </header>
    
    <div class="main-register-container1">
        <div class="register-container1">
            <h2>Crear Cuenta</h2>
            <form action="/users/register" method="POST" enctype="multipart/form-data" >
               <div class="data-account-container1">
                    <div class="personal-information-container1">
                        <h2>Datos Personales</h2>
                        <div><label for="name_user">Nombre</label></div>
                        <div><input type="text" name="name_user" id="name_user" placeholder="Ej:Pepito" autofocus required></div>
                        <div><label for="last_name">Apellido</label></div>
                        <div><input type="text" name="last_name" id="last_name" placeholder="Ej:House" autofocus required></div>
                        <div><label for="date_birth">Fecha de Nacimiento</label></div>
                        <div><input type="date" name="date_birth" id="date_birth" value="2022-02-11" min="1920-08-02" max="2022-08-12"></div>
                        <div><label for="gender">Genero</label></div>
                        <div>
                            <select name="gender" id="gender">
                                <option value="">Seleccionar</option>
                                <option value="woman">Mujer</option>
                                <option value="man">Hombre</option>
                                <option value="binary">Binario</option>
                            </select>
                        </div>
                        <div><label for="phone">Telefono</label></div>
                        <div><input type="number" name="phone" id="phone" placeholder="1122334455"></div>
                    </div>
                    <div class="account-container1">
                        <h2>Sobre tu Cuenta</h2>
                        <div><label for="email">Email</label></div>
                        <div><input type="email" name="email" id="email" placeholder="iampepito@gmail.com"></div>
                        <div><label for="confirm_email">Confirmar Email</label></div>
                        <div><input type="email" name="confirm_email" id="confirm_email" placeholder="iampepito@gmail.com"></div>
                        <div><label for="password">Contraseña (minimo 8  caracteres)</label></div>
                        <div><input type="password" name="password" id="password" placeholder="12345678"></div>
                        <div><label for="confirm-password">Confirmar Contraseña</label></div>
                        <div><input type="password" name="confirm_password" id="confirm_password" placeholder="12345678"></div>
                        <div><label for="interests">¿Cuales son tus intereses?</label></div>
                        <div>
                            <select name="interests" id="interests">
                                <option value="">Seleccionar</option>
                                <option value="fashion">Moda</option>
                                <option value="running">Running</option>
                                <option value="soccer">Futbol</option>
                                <option value="sports">Deportes</option>
                            </select>
                        </div>
                        <div class="image-div">
                            <input type="file" name="image" id="image">
                        </div>
                    </div>
                </div>
                <div class="determination-container1">
                    <div class="determination-condition">
                        <input type="checkbox" name="determination" value="true">
                        <label for="determination">Acepto las <a href="/">Politicas de Privacidad</a> y <a href="/">Terminos y Condiciones.</a></label>
                    </div>
                    <div class="determination-condition">
                        <input type="checkbox" name="newsletter" value="true">
                        <label for="newsletter">Quiero recibir emails de promociones y noticias.</label>
                    </div>
                </div>
                <div class="create-account1">
                    <input type="submit" value="Registrarse">
                </div>
            </form>
        </div>
    </div>

    <script src="JS/script.js"></script>
    <script src="JS/shopping-cart.js"></script>
    <%- include('../partials/footer') %>
</body>